@import url('https://fonts.googleapis.com/css2?family=Lexend&family=Red+Hat+Display&display=swap');

.middle {
    text-align:center;
    padding: 50px;
    background-color: rgb(217, 207, 235);
}

.middle-text {
    font-size: 20vh;
    font-family: 'Lexend', sans-serif;
}