@import url('https://fonts.googleapis.com/css2?family=Lexend&family=Red+Hat+Display&display=swap');

.middle {
    text-align:center;
    padding: 50px;
    background-color: rgb(217, 207, 235);
    width: 100vw;
    animation-name: fadeIn;
    animation-duration: 1.3s;
    animation-timing-function: ease-in-out;
}

@keyframes fadeIn {
    0% {
      opacity: 0;
      width: 90vw;
    }
    100% {
      opacity: 1;
      width: 100vw;
    }
}

.middle-text {
    font-size: 20vh;
    font-family: 'Lexend', sans-serif;
}
